page-program-view-edit {
  .bgAuth {
    background-image: url('../assets/img/bg92sq.jpg');
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  ion-option{
    color: black !important;
  }
  ion-select{
    color: white;
  }

  ion-list{
    background-color: transparent !important;
    ion-item-sliding{
      background-color: transparent !important;

      ion-item{
        color: white !important;
        background-color: transparent !important;
        ion-col div{
          padding: 5px;
          word-wrap: break-word;
          color: white !important;
        }


      }

    }
  }
}


