page-client-view-home {

  ion-card ion-card-header {
    background-color: #ff0000;

  }
  ion-card{
    ion-row{
      ion-col{
        h1{
          color:black;
        }
      }
    }
  }
  h1{
    color: black;
  }
  ion-item {
    background-color: #ff0000;
    color: black;
  }

  .bg-red{
    background-color: #ff0000;
    color: #ffffff;
  }

  .bgAuth {
    background-image: url('../assets/img/bg92sq.jpg');
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .img-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    align-content: center;

  }
  .item {
    background-color: transparent;
    border: none !important;
    .item-inner {
      border-bottom: 0.55px solid rgba(255, 255, 255, 0.4) !important;
      ion-input {
        color: color($colors, dark);
        font-weight: bold;
      }
      ion-label {
        color: color($colors, light);
        font-weight: bold;
        font-size: large;
      }
    }
  }
}
